In [297]:
import pandas as pd

In [298]:
df = pd.read_excel("Strange Form.xlsx")

df["Count_Values"] = df['Amount'].str.count('\|+') + 1

df

,Order ID,Amount,Category,Count_Values
0,CA-2011-167199,609.98 | 5.48 | 391.98 | 755.96 | 31.12,Binders | Art | Phones | Fasteners | Paper,5
1,CA-2011-149020,2.98 | 51.94,Office Supplies | Furniture,2
2,CA-2011-131905,7.2 | 42.0186 | 42.035,Office Supplies | Technology | Technology,3
3,CA-2011-127614,234.45 | 1256.22 | 17.46,Accessories | Tables | Binders,3

In [299]:

array_IDs = []

for i in range(df.shape[0]):
     array_IDs.extend([df["Order ID"][i]] * df["Count_Values"][i])

array_IDs

['CA-2011-167199',
 'CA-2011-167199',
 'CA-2011-167199',
 'CA-2011-167199',
 'CA-2011-167199',
 'CA-2011-149020',
 'CA-2011-149020',
 'CA-2011-131905',
 'CA-2011-131905',
 'CA-2011-131905',
 'CA-2011-127614',
 'CA-2011-127614',
 'CA-2011-127614']

In [300]:
def rows_to_column(DataFrameName,column_name):
    import pandas as pd
    df = pd.read_excel(DataFrameName+".xlsx")

    split_Amount = df[column_name].str.split(pat='|',expand=True) # Split to columns base on | symbol 

    Transpose_Amount = split_Amount.T # Transpose dataset after the split 

    union_the_columns = pd.Series(Transpose_Amount.values.ravel('F')).dropna().reset_index() # union & dropna 

    union_the_columns = union_the_columns.rename(columns = {"index":"index",0:column_name}) # rename

    union_the_columns = union_the_columns[[column_name]] # select

    return union_the_columns

Amount_fix = rows_to_column("Strange Form","Amount")

Category_fix = rows_to_column("Strange Form","Category")

df = pd.DataFrame(array_IDs,columns=['Order ID'])

df = pd.concat([df,Category_fix,Amount_fix], axis=1)
df

          Order ID          Category     Amount
0   CA-2011-167199          Binders     609.98
1   CA-2011-167199              Art       5.48
2   CA-2011-167199           Phones     391.98
3   CA-2011-167199        Fasteners     755.96
4   CA-2011-167199             Paper      31.12
5   CA-2011-149020  Office Supplies       2.98
6   CA-2011-149020         Furniture      51.94
7   CA-2011-131905  Office Supplies        7.2
8   CA-2011-131905       Technology    42.0186
9   CA-2011-131905        Technology     42.035
10  CA-2011-127614      Accessories     234.45
11  CA-2011-127614           Tables    1256.22
12  CA-2011-127614           Binders      17.46